<form action="/admin/notifications/add" method="POST">
  <label for="title"> Title: </label>
  <input name="title" type="text" required>
  <label for="body"> Body: </label>
  <textarea id="body" name="body" cols="30" rows="10"></textarea>
  <button type="submit"> Confirm </button>
</form>
